<div class="user-course">
  <h5>
    <b><%=truncate(course_subject.subject.name, :length => 30)%></b>

    <label class="show_hide_status btn" style="background-color:silver"
    id="show_hide_<%=course_subject.id%>">Hide</label>

    <div class="course-subject-status" style="background-color: 
      <%=course_subject.status? ? "silver" : "pink"%>">
      <%=course_subject.status? ? "Finish" : "Training"%>
    </div>

    <div class="pull-right">
      start date:(<%=course_subject.created_at.strftime "%d/%m/%Y"%>
      -<%=course_subject.updated_at.strftime "%d/%m/%Y"%>)
    </div>
  </h5>
  <div id="course_subject_tasks_<%=course_subject.id%>">
    <%=render course_subject.course_subject_tasks%>
  </div>
</div>

<script type="text/javascript">
  $("#show_hide_<%=course_subject.id%>").on("click", function(){
    if($("#show_hide_<%=course_subject.id%>").text()=="Hide"){
      $("#show_hide_<%=course_subject.id%>").text("Show");
      $("#course_subject_tasks_<%=course_subject.id%>").hide();
    }else if($("#show_hide_<%=course_subject.id%>").text()=="Show"){
      $("#show_hide_<%=course_subject.id%>").text("Hide");
      $("#course_subject_tasks_<%=course_subject.id%>").show();
    }
  });
</script>